/**
 * Main Stylesheet for SoundCloud Selections
 * 
 * @author Kalu Kalu
 * @since  July 29, 2012
 */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
    overflow: hidden;
    min-width: 1000px;
}

#header {
    background-color:#052d6e;
    width:100%;
    border-bottom: 1px solid #f60;
    height: 42px;
    text-align: left;
}

#content {
    position: absolute;
    width: 100%;
    top: 43px;
    bottom: 25px;
    overflow: hidden;
	min-width: 900px;
}

	#content ul {
	    margin: 0;
	    padding: 0;
	}

    #content li {
        list-style: none;
    }

#app-wrapper {
	height: 100%;
}
	#app-wrapper.logged-in #login-wrapper {
	    display: none;
	}
	
	#app-wrapper.logged-in #content-wrapper {
	    display: block;
	}
	
#login-wrapper {
    height: 100%;
    background-color: #dbdbf1;
}

#login-content {
    position: absolute;
	width: 100%;
    top: 50%;       
    height: 250px;
    margin-top: -150px;
    background-color: #dbdbf1;
	bottom: 25px;
    text-align: center;
}

#content-wrapper {
	display: none;
}

    #app-title {
        font-size: 64px;
        margin-bottom: 32px;
        white-space: nowrap;            
    }

    #app-subtitle {
        font-size: 32px;
        margin-bottom: 64px;
        opacity: 0.7;
    }
    
    #app-login-button {
        cursor: pointer; 
    }



#footer {  
    position: absolute;
    background-color: #111;
    border-top: 1px solid #aaa;
    text-align: center;
    color: #f60;
    width: 100%;
    height: 24px;
    bottom: 0px;
    font-size: 10px;
    line-height: 24px;
}

    #footer a {
        text-decoration: none;
        color: #dbdbf1;
    }
    
    #footer a:hover {
        color: #aaa;
    }   

#main-navigation li {
   margin: 0 12px;
}
        
#user-navigation {
    float: right;
    margin-right: 10px;
}

   #user-navigation li {
       margin: 0 10px;
   }

.navigation {
    display: inline-block;      
}

.navigation ul {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
    line-height: 42px;        
}

.navigation li {
    display: inline-block;
}

    .navigation li {
        display: inline-block;
        text-decoration:none;
        color: #f0f0f0;
        text-align: center;
		opacity: 0.8;
    }
    
    .navigation li:hover {
        color: #F60;
		cursor: pointer;
        opacity: 1.0;
    }   
    
    .navigation li.selected {
        color: #FFFF40;
    }       
	
	
.button {   
    background-color:#111;
    color: #e2e2e2;
    display:inline-block;
    position:relative;
    font-size:1em;
    line-height:1em;
    text-decoration:none;
    padding:4px;
    border: 1px solid #222;
    cursor:pointer;
    
    border-radius: 4px;    
    box-shadow: 0 1px 3px rgba( 0, 0, 0, 0.5 );
    text-shadow: 0 -1px 1px rgba( 0, 0, 0, 0.25 );

    user-select:none;     
}
